# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
ProjetFinalEquipe1/ProjetFinalTeam1/ProjetFinalTeam1/obj/
ProjetFinalEquipe1/ProjetFinalTeam1/ProjetFinalTeam1/bin/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ProjetFinalTeam1/ProjetFinalTeam1.v12.suo
ProjetFinalTeam1/ProjetFinalTeam1/bin/ProjetFinalTeam1.dll
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.csprojResolveAssemblyReference.cache
ProjetFinalTeam1/ProjetFinalTeam1/bin/ProjetFinalTeam1.pdb
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.csproj.FileListAbsolute.txt
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.csproj.GenerateResource.Cache
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.dll
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.Migrations.avantHeure.resources
ProjetFinalTeam1/ProjetFinalTeam1/obj/Debug/ProjetFinalTeam1.pdb
ProjetFinalTeam1/ProjetFinalTeam1.v12.suo
*.suo
