
<div ng-controller="ActiviteController">
    <section id="geocode">
            <div class="container">
                
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Géocoder</h1>
                    <div class="divider"></div>
                    <p>Trouver un point latitude / longitude à partir d'une adresse</p>
                </div>
                <div class="row">                    
                    <div class="title scrollpoint sp-effect3">
                        <p>Exemple</p>
                    </div>           
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <h3>Adresse</h3>
                            <input class="form-control" ng-model="adresse" placeholder="Adresse"/>
                            <br />
                            <button class="btn btn-default btn-lg" ng-click="geocode()">Géocoder</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                            <h3>Résultat</h3>
                            <p>Adresse formaté : {{belleAdresse}}</p>
                            <p>Latitude : {{latitude}}</p>
                            <p>Longitude : {{longitude}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect1">
                            <ui-gmap-google-map center='center' zoom='8' bounds='bounds'>
                                <ui-gmap-marker ng-if="location" idKey='0' coords='location'>
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                                    
            </div>                        
        </section>
    
    
    
    <section id="suggestion">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>Suggestion</h1>
                    <div class="divider"></div>
                    <p>Google Places API, les suggestion comme on trouve dans Google Maps</p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-push-1 scrollpoint sp-effect3">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="place in places">
                                    <div class="review-comment">                                                                      
                                        <h3><img ng-src="{{place.icon}}" alt=""> {{place.name}}</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div id="map-places" style="width:100%;height:400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
    
    <div class="container">
        <div class="row">
            <form>

                <div class="form-group">
                    <h2>Ajouter une activitée</h2>
                </div>

                <div class="form-group">
                    <label>HeureDebut</label>
                    <input type="Time"  ng-model="HeureDebut" >$
                </div>

                <div class="form-group">
                    <label>HeureFin</label>
                    <input type="Time"  ng-model="HeureFin" >
                </div>

                <div class="form-group">
                    <label>Cout</label>
                    <input type="number"  ng-model="Cout" >
                </div>
               <div class="form-group">
                         <div class="label">Latitutde:</div></td>
                        <input type="text"  ng-model="Latitude" >
                </div>
             <div class="form-group">
                         <div class="label">Longitude:</div></td>
                        <input type="text"  ng-model="Longitude" >
                </div>
            
                <div class="form-group">
                    <input type="submit" value="Ajouter" ng-click="ajouterActivites()">
                </div>

            </form>
            <ul id="voyageerror"></ul>
<!--            <ul>{{voyageError}}</ul>-->
        </div>
        <div class="row">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>HeureDebut</th>
                        <th>HeureFin</th>
                        <th>Cout</th>
                        <th>LongDepart</th>
                        <th>LatDepart</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="activite in activites">
                    <td>{{activite.HeureDebut}}</td>
                    <td>{{activite.HeureFin}}</td>
                    <td>{{activite.Cout}}</td>
                    <td>{{activite.Longitude}}</td>
                    <td>{{activite.Latitude}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>



