
<div ng-controller="ActiviteController">
    <div class="container">
        <div class="row">
            <form>

                <div class="form-group">
                    <h2>Ajouter une activitée</h2>
                </div>

                <div class="form-group">
                    <label>HeureDebut</label>
                    <input type="Time"  ng-model="HeureDebut" >$
                </div>

                <div class="form-group">
                    <label>HeureFin</label>
                    <input type="Time"  ng-model="HeureFin" >
                </div>

                <div class="form-group">
                    <label>Cout</label>
                    <input type="number"  ng-model="Cout" >
                </div>
               <div class="form-group">
                         <div class="label">Latitutde:</div></td>
                        <input type="text"  ng-model="Latitude" >
                </div>
             <div class="form-group">
                         <div class="label">Longitude:</div></td>
                        <input type="text"  ng-model="Longitude" >
                </div>
            
                <div class="form-group">
                    <input type="submit" value="Ajouter" ng-click="ajouterActivites()">
                </div>

            </form>
            <ul id="voyageerror"></ul>
<!--            <ul>{{voyageError}}</ul>-->
        </div>
        <div class="row">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>HeureDebut</th>
                        <th>HeureFin</th>
                        <th>Cout</th>
                        <th>LongDepart</th>
                        <th>LatDepart</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="activite in activites">
                    <td>{{activite.HeureDebut}}</td>
                    <td>{{activite.HeureFin}}</td>
                    <td>{{activite.Cout}}</td>
                    <td>{{activite.Longitude}}</td>
                    <td>{{activite.Latitude}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>



