<div ng-controller="TransportController">
    <div class="container">
        <h1>Transports</h1>
        <button ng-click="afficherPage('Index')" class="btn btn-default">Liste des transports de la journée</button>
        <button ng-click="resetValueDansCreation(); afficherPage('Create')" class="btn btn-default">Créer un nouveu transport</button>
<!--        <button ng-click="afficherPage('Modif')" class="btn btn-default">Modifier un transport</button>-->
        
        
        <div ng-show="pageIndex" style="margin-bottom:50px">
            <h2>Index</h2>
            <div class="row" style="margin-bottom:20px">
                <table class="table table-striped custab" style="border-style:solid; border-width:2px">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cout</th>
                            <th>Type</th>
                            <th>Transporteur</th>
                            <th># Jour</th>
                            <th>LatDepart</th>
                            <th>LongDepart</th>
                            <th>LatArrive</th>
                            <th>LongArrive</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="transport in lstTransports">
                        <td>{{transport.Id}}</td>
                        <td>{{transport.Cout}}</td>
                        <td>{{transport.Type}}</td>
                        <td>{{transport.Transporteur}}</td>
                        <td>{{transport.Jour_Id}}</td>
                        <td>{{transport.LatDepart}}</td>
                        <td>{{transport.LongDepart}}</td>
                        <td>{{transport.LatArrive}}</td>
                        <td>{{transport.LongArrive}}</td>
                        <td class="text-center">
                            <a ng-click="afficherItineraireAvecCoordonnees(transport.Type, transport.LatDepart, transport.LongDepart, transport.LatArrive, transport.LongArrive)" class='btn btn-primary btn-xs'><span class="glyphicon glyphicon-ok"></span> Afficher</a>
<!--                            <a ng-click="afficherPage('Modif')" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Modifier</a>-->
                            <a ng-click="supprimerTransport(transport.Id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                        </td>
                    </tr>
                </table>
            </div>
            
            
            <h2>Google map</h2>
            <div id="mapIndex" style="width:500px;height:400px"></div>
            <button ng-click="afficherItineraireSansCoord('Cégep Édouard Montpetit', '170 Boulevard Taschereau, La Prairie, QC J5R 1S8')" class="btn btn-default">(Exemple 1) Afficher un itineraire (Sur route)</button>
            <button ng-click="afficherItineraireAvecCoordonnees('Avion', 37.772323, -122.214897, -27.46758, 153.027892)" class="btn btn-default">(Exemple 2) Afficher un itineraire (Avion)</button>
            
        </div>
        
        
        
        <div ng-show="pageCreate" style="margin-bottom:30px">
            <h2>Créer transport</h2>
<!--            <div id="mapAjout" style="width:500px;height:400px; float:right"></div>-->
            
            <div style="float:right">
                
                <!--Google map-->
                <!--<ui-gmap-google-map center='mapAjout.center' zoom='mapAjout.zoom'>
                    <ui-gmap-marker idKey='0' coords='mapAjout.marker'>
                    </ui-gmap-marker>
                </ui-gmap-google-map>-->
                
                <p style="margin-top:10px">
                    <input type="text" class="form-control" placeholder="Endroit depart" ng-model="endroitDepart" style="width:300px">
                    <button ng-click="geocode(endroitDepart, 'depart')" class="btn btn-default" style="margin-top:5px"><span class="glyphicon glyphicon-search"></span> Rechercher endroit</button>
                </p>
                <p>
                    <input type="text" class="form-control" placeholder="Endroit arrive" ng-model="endroitArrive" style="width:300px; margin-top:5px">
                    <button ng-click="geocode(endroitArrive, 'arrive')" class="btn btn-default" style="margin-top:5px"><span class="glyphicon glyphicon-search"></span> Rechercher endroit</button>
                </p>
            </div>
            
            
            <!--Formulaire creation-->
            <form ng-submit="createNewTransport()" id="ajoutTransport">
                <p>
                    <input type="text" class="form-control" placeholder="Type" ng-model="type" style="width:300px">
                </p>
                <p>
                    <input type="text" class="form-control" placeholder="Transporteur" ng-model="transporteur" style="width:300px">
                </p>
                <p>
                    <input type="number" min="0" class="form-control" placeholder="Cout" ng-model="cout" style="width:200px">
                </p>
                <p style="margin-top:5px">
                    Jour: {{JourSelect.Num}}
                    <!--<select>
                        <option ng-repeat="numJour in lstNumJours" value="{{numJour}}">{{numJour}}</option>
                    </select>-->
                </p>
                <p>LatDepart: {{latDepart}}</p>
                <p>LongDepart: {{longDepart}}</p>
                <p>LatArrive: {{latArrive}}</p>
                <p>LongArrive: {{longArrive}}</p>
                <p>
                    <input class="btn btn-default" type="submit" value="Créer" style="margin-top:10px">
                </p>
            </form>
        </div>
        
        
        
<!--        =================================================================================================================-->
        <div ng-show="pageModif">
            <div style="margin-bottom:30px">
                <h2>Modifier transport</h2>
                
                <!--Formulaire modification-->
                <form ng-submit="modifierTransport()" id="modifTransport">
                    <p>
                        Type:
                        <input type="text" class="form-control" ng-model="type" style="width:300px; margin-top:5px">
                    </p>
                    <p>
                        Transporteur:
                        <input type="text" class="form-control" ng-model="transporteur" style="width:300px; margin-top:5px">
                    </p>
                    <p>
                        Cout:
                        <input type="number" min="0" class="form-control" ng-model="cout" style="width:200px; margin-top:5px">
                    </p>
                    <!--<p>
                        Jour:
                        <select>
                            <option ng-repeat="jour in jours" value="{{jour}}">{{jour}}</option>
                        </select>
                    </p>-->
                    <p style="margin-top:5px">
                        Endroit de départ:
                        <input type="text" class="form-control" ng-model="endroitDepart" style="width:300px; margin-top:5px">
                    </p>
                    <p style="margin-top:5px">
                        Endroit d'arrivé:
                        <input type="text" class="form-control" ng-model="endroitArrive" style="width:300px; margin-top:5px">
                    </p>

                    <input class="btn btn-default" type="submit" value="Modifier" style="margin-top:10px">
                </form>
            </div>
        </div>
        <div ng-show="pageSupprimer">
            <h2>Supprimer le transport</h2>
            <form ng-submit="supprimerTransport()" id="modifTransport">
                <input class="btn btn-default" type="submit" value="Confirmer" style="margin-top:10px">
            </form>
        </div>
<!--        =================================================================================================================-->
    </div>
</div>





