<div ng-controller="TransportController">
    <div class="container">
        <h1>Transports</h1>
        <button ng-click="afficherPage('Index')" class="btn btn-default">Afficher tous les transports</button>
        <button ng-click="afficherPage('Create')" class="btn btn-default">Créer un nouveu transport</button>
        <button ng-click="afficherPage('Modif')" class="btn btn-default">Modifier un transport</button>
        
        
        <div ng-show="pageIndex" style="margin-bottom:50px">
            <h2>Index</h2>
            <div class="row" style="margin-bottom:20px">
                <table class="table table-striped custab" style="border-style:solid; border-width:2px">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cout</th>
                            <th>Type</th>
                            <th>Transporteur</th>
                            <th># Jour</th>
                            <th>LatDepart</th>
                            <th>LongDepart</th>
                            <th>LatArrive</th>
                            <th>LongArrive</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="transport in transports">
                        <td>{{transport.Id}}</td>
                        <td>{{transport.Cout}}</td>
                        <td>{{transport.Type}}</td>
                        <td>{{transport.Transporteur}}</td>
                        <td>{{transport.Jour_Id}}</td>
                        <td>{{transport.LatDepart}}</td>
                        <td>{{transport.LongDepart}}</td>
                        <td>{{transport.LatArrive}}</td>
                        <td>{{transport.LongArrive}}</td>
                        <td class="text-center">
                            <a ng-click="afficherItineraireAvecCoordonnees(transport.LatDepart, transport.LongDepart, transport.LatArrive, transport.LongArrive)" class='btn btn-primary btn-xs'><span class="glyphicon glyphicon-ok"></span> Afficher</a>
                            <a ng-click="modifierTransport(transport)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Modifier</a>
    <!--                        <a ng-click="selectionnerTransport(transport)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Gérer</a>-->
                            <a ng-click="supprimerTransport(transport)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                        </td>
                    </tr>
                </table>
            </div>
            
            
            <h2>Google map</h2>
            <div id="map" style="width:500px;height:400px"></div>
            <button ng-click="afficherItineraire()" class="btn btn-default">Afficher un itineraire (Hardcode)</button>
            
            <!--
            <ui-gmap-google-map id='map' center='center' zoom='8' bounds='bounds'>
                <ui-gmap-marker ng-if="location" idKey='1' coords='location'>
                </ui-gmap-marker>
            </ui-gmap-google-map>
            -->
            
            <!--<button ng-click="afficherLesActivites()" class="btn btn-default" value="Salut">Choisir</button>-->
            
        </div>
        
        
        
        <div ng-show="pageCreate">
            <div style="margin-bottom:30px">
                <h2>Creer transport</h2>
                <form ng-submit="createNewTransport()" id="ajoutTransport">
                    <input type="text" class="form-control" placeholder="Type" ng-model="type" style="width:300px; margin-top:5px">
                    <input type="text" class="form-control" placeholder="Transporteur" ng-model="transporteur" style="width:300px; margin-top:5px">
                    <input type="number" min="0" class="form-control" placeholder="Cout" ng-model="cout" style="width:200px; margin-top:5px">
                    <p style="margin-top:5px">
                        Jour:
                        <select>
                            <option ng-repeat="jour in jours" value="{{jour}}">{{jour}}</option>
                        </select>
                    </p>
                    <input type="text" class="form-control" placeholder="Endroit depart" ng-model="endroitDepart" style="width:300px; margin-top:5px">
                    <input type="text" class="form-control" placeholder="Endroit arrive" ng-model="endroitArrive" style="width:300px; margin-top:5px">

                    <input class="btn btn-default" type="submit" value="Ajouter" style="margin-top:10px">
                </form>
            </div>
        </div>
        
        
        <div ng-show="pageModif">
            <div style="margin-bottom:30px">
                <h2>Modifier transport</h2>
                <form ng-submit="modifierTransport()" id="modifTransport">
                    <p>
                        Type:
                        <input type="text" class="form-control" ng-model="type" style="width:300px; margin-top:5px">
                    </p>
                    <p>
                        Transporteur:
                        <input type="text" class="form-control" ng-model="transporteur" style="width:300px; margin-top:5px">
                    </p>
                    <p>
                        Cout:
                        <input type="number" min="0" class="form-control" ng-model="cout" style="width:200px; margin-top:5px">
                    </p>
                    <p>
                        Jour:
                        <select>
                            <option ng-repeat="jour in jours" value="{{jour}}">{{jour}}</option>
                        </select>
                    </p>
                    <p style="margin-top:5px">
                        Endroit de départ:
                        <input type="text" class="form-control" ng-model="endroitDepart" style="width:300px; margin-top:5px">
                    </p>
                    <p style="margin-top:5px">
                        Endroit d'arrivé:
                        <input type="text" class="form-control" ng-model="endroitArrive" style="width:300px; margin-top:5px">
                    </p>

                    <input class="btn btn-default" type="submit" value="Modifier" style="margin-top:10px">
                </form>
            </div>
        </div>
    </div>
</div>





