
<div ng-controller="JourController">
    <div class="row">
    
        <div class="col-md-4">
            <h1>Listes des journées</h1>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Budget</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="jour in lstJours">
                    <td>{{jour.Date}}</td>
                    <td>{{jour.BudgetJournee}} $</td>
                    <td class="text-center">
                        
                        <a ng-click="showJour(jour)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Selectionner cette journee</a>

                    </td>
                </tr>
            </table>
        </div>
        
        <div class="col-md-4">
            <h1>Infos journées</h1>
            <div id="jourInfo" style="display: none; background-color:lightgray;">
                <h1>Buget Jour : {{budgetJour}} $</h1>
                </br>
                <h1>Nombre d'activite : {{nbEvent}}</h1>
                </br>
                <button ng-click="allowModif()" class="btn btn-primary">Modifier budget</button>
                <button ng-click="selectionnerActivitie()" class="btn btn-primary"  >Consulter activitees</button>
            </div>
        
            <div id="modifJour" style="display: none;background-color:lightgray;">
                </br></br></br>
                <h2>Nouveau budget</h2>
                </br>
                <input type="number" name="newbudget" ng-model="newbudget" /> $
                </br></br></br>
                <button ng-click="modifierBudgetJour()" class="btn btn-primary">Confirmer modification</button>
            </div>
        </div>
        
        <div class="col-md-4">
            <h1>Budget, activités?</h1>
        </div>
    
    </div>
</div>
