
<div ng-controller="JourController">
    <div class="row">
    
        <div class="col-md-4">
            <h1>Listes des journées</h1>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Journee</th>
                        <th>Date</th>
                        <th class="text-center">Budget</th>
                    </tr>
                </thead>
                <h2>Budget Total : {{voyageSelect.BudgetVoyage}} $</h2>
                <tr ng-repeat="jour in lstJours">
                    <td>Jour {{jour.Num}}</td>
                    <td>{{jour.Date}}</td>
                    <td>{{jour.BudgetJournee}} $</td>
                    <td class="text-center">
                        
                        <a ng-click="showJour(jour)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Selectionner cette journee</a>

                    </td>
                </tr>
                
            </table>
            <h4 style="color:red;" ng-show="showDepassement">Vous avez dépasser le budget pour votre voyage !!!</h4>
            <button ng-click="changeView('/voyages')" class="btn btn-primary">Retour aux voyages</button>
            
        </div>
        
        <div class="col-md-4">
            <h1>Infos journées</h1>
            <div ng-show="jourInfo">
                <h1>Bugdet de le journée : {{budgetJour}} $</h1>
                </br>
                <button ng-click="allowModif()" class="btn btn-primary">Modifier ce budget</button>
                <button ng-click="changeView('/activites')" class="btn btn-primary"  >Consulter activitees</button>
                <button ng-click="changeView('/transports')" class="btn btn-primary"  >Consulter transports</button>
            </div>
        
            <div ng-show="modifJour" style="background-color:lightgray;">
                </br></br></br>
                <h2>Nouveau budget</h2>
                </br>
                <input type="number" name="newbudget" ng-model="newbudget" /> $
                </br></br></br>
                <button ng-click="modifierBudgetJour()" class="btn btn-primary">Confirmer modification</button>
            </div>
        </div>
        
    
    </div>
</div>
