<div ng-controller="VoyageController">
    <div class="container">
        <div class="row">
            <form>

                <div class="form-group">
                    <h2>Ajouter un voyage</h2>
                </div>

                <div class="form-group">
                    <label>Budget voyage</label>
                    <input type="number" name="budget" ng-model="budgetVoyage" id="voyage-budget">$
                </div>

                <div class="form-group">
                    <label>Début voyage</label>
                    <input type="date" name="debut" ng-model="dateDebut" id="voyage-date">
                </div>

                <div class="form-group">
                    <label>Nombre de jours</label>
                    <input type="number" name="jours" ng-model="nbJours" id="voyage-jour">
                </div>

                <div class="form-group">
                    <input type="submit" value="Ajouter" ng-click="ajouterVoyage()">
                </div>

            </form>
            <ul id="voyageerror"></ul>
        </div>
        <div class="row">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Budget Voyage</th>
                        <th>Debut Voyage</th>
                        <th>Nombre de Jours</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="voyage in voyages">
                    <td>{{voyage.BudgetVoyage}}</td>
                    <td>{{voyage.DateTimeDebut}}</td>
                    <td>{{voyage.NbDeJour}}</td>
                    <td class="text-center">
                        
                        <a ng-click="selectionnerVoyage(voyage)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Selectionner ce voyage</a>
                        
                        <a ng-click="modifierVoyage(voyage)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                        <a ng-click="supprimerVoyage(voyage)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>